<!doctype html>
<html ng-csp ng-app="optionsApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <title>OPTIONS PAGE</title>
  <link rel="stylesheet" href="styles/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/optionsController.js"></script>
</head>

<body ng-controller="optionsController">
  <h1>{{pageTitle}}</h1>
</body>

</html>