<!doctype html>
<html ng-csp ng-app="popupApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <title>POPUP PAGE</title>
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/popupController.js"></script>
</head>

<body ng-controller="popupController" style="background-color: #292A2D">
  <div style="padding-top:10px">
    <center><img src="../mailIcon.png" width="25"></center>
  </div>

  <hr style="margin-top: 1rem; margin-bottom: 1rem; border: 0; border-top: 1px solid rgb(59, 59, 59);" />
  <div class="container-fluid">


    <div ng-repeat="item in myResponses | filter:{ queueName: activeQueue }">
      <div class="col-sm-8" style="padding-top: 2px">
        <button class="btn btn-primary btn-sm btn-block"
          style="background-color: #89B4F8 !important; color: black !important; border: 0; text-align: left;"
          ng-click="insertObject(item.htmlBody)"> {{item.name}}</button>
      </div>
    </div>



  </div>
  <hr style="margin-top: 1rem; margin-bottom: 1rem; border: 0; border-top: 1px solid rgb(59, 59, 59);" />
  <div style="padding-top:10px; padding-bottom:10px; color: whitesmoke; font-size: 10px;">
    <center>{{activeQueue}}</center>
  </div>
</body>

</html>